@import "tailwindcss";

:root {
  --background: #f8fbf8;
  --main-text: #0b1215;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--main-text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f8fbf8;
    --main-text: #0b1215;
  }
}

body {
  background: var(--background);
  color: var(--main-text);
  font-family: var(--font-satoshi);
}